<div class="container">
	<div class="row no-mobile">
		<div class="col-xs-12">
			<div class="addBtn btn float-right">Add Something</div>
			<div class="shareBtnWeb btn float-right">Share</div>
			<h1>{{title}}</h1>
		</div>
	</div>
	<div class="row mobile-only">
		<div class="col-xs-12">
			<div class="switch control">
				<div class="button listBtn"><div class="selected">
					List
				</div></div>
				<div class="button sharedBtn"><div>
					Share
				</div></div>
			</div>
		</div>
	</div>
	<div class="row" id="list">
	</div>
</div>