<div id="dim"></div>
<div class="table-cell">
	<div class="modal" id="shareModal">
		<div class="menubar"><div class="closeBtn"></div><span class="btn">Share with Others</span></div>
		<div class="content">
			
		</div>
		<div class="buttons">
			<div class="done btn">Done</div>
		</div>
	</div>
</div>