<div id="dim"></div>
<div class="table-cell">
	<div class="modal claim">
		<div class="menubar"><div class="closeBtn"></div><span class="btn">Unclaim</span></div>
		<div class="form">
			Are you sure you don't want to give <h2>{{title}}</h2>to<h2>{{name}}?</h2>
		</div>
		<div class="buttons">
			<div class="cancel btn">I'll give it</div>
			<div class="done btn">I won't give it</div>
		</div>
	</div>
</div>